html{
    min-height: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    height: 100%;
    margin: 0;
}

img{
    display: block;
    margin: auto;
}

.isotipo{
    height: 6rem;
}

.cabecera{
    background-color: #03122b;
}

main{
    background-color: rgb(231, 231, 231);
    width: 70%;
    margin: 1rem 15%;
}

textarea{
    border-color: #041b40;
    border-radius: 3px;
}

.portada{
    width: fit-content;
    margin: 2rem;
    padding: 1rem;
    border: 5px solid #041b40;
    border-radius: 3px;
}

.portada img{
    height: 20rem;    
}

.sinopsis{
    color: rgb(48, 48, 48);
    margin-right: 3rem;
    text-indent: 0.6rem;
    font-style: italic;
}

.general{
    display: flex;
}

.comprar{
    display: flex;
}

.comprar input{
    border: 3px solid #041b40;
    border-radius: 3px;
    margin: 0px 1rem;
    height: 1.8rem;
    width: 3rem;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.boton_carrito button{
    border: 3px solid #041b40;
    border-radius: 3px;
    background-color: white;
    height: 2.3rem;
    width: 10rem;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.precio{
    font-size: 1.5rem;
}

.boton_carrito button:hover{
    background-color: #041b40;
    color: white;

}

.caja_comentarios{
    margin: 1.5rem;
    padding: 0.5rem;
    border: 3px solid #041b40;
    border-radius: 3px;
}

.comentario{
    margin: 0.5rem;
    padding: 0.5rem;
    border: 3px solid #041b40;
    border-radius: 3px;
}

.agregar{
    display: flex;
}

.s_mas{
    margin: 0.5rem;
    padding: 0.5rem 0.8rem;
    border: 3px solid #041b40;
    border-radius: 3px;
}

.enviar{
    border: 3px solid #041b40;
    border-radius: 3px;
    background-color: white;
    height: 2.3rem;
    width: 10rem;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}